.main-card-container {
  display: grid;
  grid-template-columns: repeat(3, 0.3fr); /* Three equal-width columns */
}
.card-container {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  padding: 20px;
  margin: 10px;
}
.card-image {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.card-title {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card-description {
  font-size: 1rem;
  color: #555;
}
.card-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 10px;
}
.card-button:hover {
  background-color: var(--primary-color);
}

.delete-cart-button {
  margin-top: 6px;
}

.add-cart-button{
  margin-right: 5px;
}
