:root {
  --background-color: #fff;
  --backgound-light: #fff;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --primary-color: rgba(255, 0, 86);
  --text-color: #0a0a0a;
  --text-light: #575757;
  --font-size: 16px;
  --animation-speed: 1;
}

@function getAnimationDuration($duration: number) {
  @return calc($duration * var(--animation-speed));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--font-size);
  font-family: "Roboto", sans-serif;
  padding-top: 55px;
}

a {
  text-decoration: none;
}

.container {
  padding-inline: 25vw;
}

.main {
  padding-block: 3vw;
}

.section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2em;
  .col {
    width: 50%;
  }
  .title {
    text-transform: uppercase;
    font-size: 3em;
    margin-bottom: 0.25em;
  }
  .info {
    color: var(--text-light);
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 1.3em;
    margin-bottom: 1.5em;
  }
}

img {
  object-fit: cover;
}

.custom-image {
  height: 0;
  width: 100%;
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.btn {
  border: none;
  outline: none;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.75em;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 3px;
  box-shadow: 0 2px;
}

@import "../styles/partials/animation.scss";
@import "../styles/partials/navbar.scss";
@import "../styles/partials/mainsection.scss";
@import "../styles/partials//middlesection.scss";
@import "../styles/partials/quotesection.scss";
@import "../styles/partials/topchiefsection.scss";
@import "../styles/partials/footer.scss";
@import "../styles/partials/products.scss";
@import "../styles/partials/cart.scss";

@media screen and (max-width: 1280px) {
  .container {
    padding-inline: 18vw;
  }
}

@media screen and (max-width: 1050px) {
  .container {
    padding-inline: 12vw;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    .nav-links {
      display: none;
    }
    .sidebar-btn {
      display: block;
    }
  }
  .section {
    .col {
      width: 100%;
      padding: 0 !important;
      text-align: center;
      margin-bottom: 2em;
    }
  }
  .list-item {
    display: inline-block;
    margin: 0.75em;
  }
  .section.middlesection .btn {
    display: block;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .cheif-card {
    box-shadow: 0 5px 10px var(--shadow-color);
  }
  .main-card-container {
    display: flex;
    flex-direction: column;
  }
  .container {
    padding-inline: 6vw;
  }
  .cart-container{
    display: flex;
    flex-direction: column;
  }
  .footer {
    grid-template-columns: repeat(4, 1fr);
    .footer-section:nth-child(1) {
      grid-column: span 4;
    }
    .footer-section:nth-child(2),
    .footer-section:nth-child(3) {
      grid-column: span 2;
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding-inline: 3vw;
  }
}
